<perch:form id="contact" method="post" app="perch_forms">

<perch:content id="introtext" type="textarea" label="Intro Text" textile="true" editor="markitup" />

<div>
  <perch:label for="name">Name</perch:label>
  <perch:input type="text" id="name" required="true" label="Name" /> *
  
  <perch:error for="name" type="required">
    <span class="error">Please enter your name.</span>
  </perch:error>
</div>

<div>
  <perch:label for="email">Email address</perch:label>
  <perch:input type="text" id="email" required="true" placeholder="you@example.com" label="Email" /> *
  
  <perch:error for="email" type="required">
    <span class="error">Please enter your email address.</span>
  </perch:error>
  
  <perch:error for="email" type="format">
    <span class="error">The email address you entered is not valid. Please try again.</span>
  </perch:error>
</div>

<div>
  <perch:label for="message">Message</perch:label>
  <perch:input type="textarea" id="message" label="Message" cols="30" rows="4" />
</div>

<div>
  <perch:input type="submit" value="Submit" />
</div>

<perch:success>
  <perch:content id="success" type="textarea" label="Success Text" textile="true" editor="markitup" />
</perch:success>

</perch:form>